
.el-button+.el-button[data-v-7bd3ea6d] {
  margin-top: 5px;
  margin-left: 0;
}
.dialogDiv[data-v-7bd3ea6d] {
    height: 560px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* 将列表的图片宽高比例调大一点 */
.el-table__body img[data-v-7bd3ea6d]{
  width: 120px;
  height: 120px;
}  

