
.el-button+.el-button[data-v-48e0fd0c] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-48e0fd0c] {
  width: 300px;
}
.editForm .minInput[data-v-48e0fd0c] {
    width: 240px;
}


.el-button+.el-button[data-v-3c942000] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-3c942000] {
  width: 300px;
}
.dialogDiv[data-v-3c942000] {
    height: 560px;
    overflow-y: auto;
    overflow-x: hidden;
}


.el-button+.el-button[data-v-a7be9386] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-a7be9386] {
  width: 300px;
}
.dialogDiv[data-v-a7be9386] {
    height: 560px;
    overflow-y: auto;
    overflow-x: hidden;
}


.el-button+.el-button[data-v-0ac8bfa6] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-0ac8bfa6] {
  width: 300px;
}


.el-button+.el-button[data-v-7270b7b9] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-7270b7b9] {
  width: 300px;
}


#tab-first[data-v-305b1ab4] {
  color: red;
}

