.container[data-v-aab1761e] {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}
.container .header[data-v-aab1761e] {
    height: 48px;
    line-height: 48px;
    background: white;
    color: black;
}
.container .header .userinfo[data-v-aab1761e] {
      text-align: right;
      padding-right: 35px;
      float: right;
}
.container .header .userinfo .userinfo-inner[data-v-aab1761e] {
        cursor: pointer;
        color: #fff;
}
.container .header .userinfo .userinfo-inner img[data-v-aab1761e] {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          margin: 10px 0px 10px 10px;
          float: right;
}
.container .header .logo[data-v-aab1761e] {
      height: 48px;
      font-size: 22px;
      padding-left: 20px;
      padding-right: 20px;
      border-color: rgba(238, 241, 146, 0.3);
      border-right-width: 1px;
      border-right-style: solid;
}
.container .header .logo img[data-v-aab1761e] {
        width: 40px;
        float: left;
        margin: 10px 10px 10px 18px;
}
.container .header .logo .txt[data-v-aab1761e] {
        color: #fff;
}
.container .header .logo-width[data-v-aab1761e] {
      width: 230px;
}
.container .header .logo-collapse-width[data-v-aab1761e] {
      width: 60px;
}
.container .header .tools[data-v-aab1761e] {
      padding: 0px 23px;
      width: 14px;
      height: 48px;
      line-height: 48px;
      cursor: pointer;
}
.container .main[data-v-aab1761e] {
    display: flex;
    position: absolute;
    top: 48px;
    bottom: 0px;
    overflow: hidden;
}
.container .main aside[data-v-aab1761e] {
      flex: 0 0 230px;
      width: 230px;
}
.container .main aside .el-menu[data-v-aab1761e] {
        height: 100%;
        overflow: auto;
}
.container .main aside .collapsed[data-v-aab1761e] {
        width: 60px;
}
.container .main aside .collapsed .item[data-v-aab1761e] {
          position: relative;
}
.container .main aside .collapsed .submenu[data-v-aab1761e] {
          position: absolute;
          top: 0px;
          left: 60px;
          z-index: 99999;
          height: auto;
          display: none;
}
.container .main .menu-collapsed[data-v-aab1761e] {
      flex: 0 0 60px;
      width: 60px;
}
.container .main .menu-expanded[data-v-aab1761e] {
      flex: 0 0 230px;
      width: 230px;
}
.container .main .content-container[data-v-aab1761e] {
      flex: 1;
      overflow-y: scroll;
      padding: 20px;
}
.container .main .content-container .breadcrumb-container .title[data-v-aab1761e] {
        width: 200px;
        float: left;
        color: #475669;
}
.container .main .content-container .breadcrumb-container .breadcrumb-inner[data-v-aab1761e] {
        float: right;
}
.container .main .content-container .content-wrapper[data-v-aab1761e] {
        background-color: #fff;
        box-sizing: border-box;
}
.container .changePassword .changePassform[data-v-aab1761e] {
    margin: 0 auto;
    max-width: 600px;
}
.container .changePassword .changePassform .el-input[data-v-aab1761e] {
      max-width: 400px;
}

