.login-content[data-v-97c454a2] {
  height: 100%;
  overflow: auto;
  background: url(../images/045d191d066d98286f6949563a821bfb.png) no-repeat top;
  background-color: #0a79f9;
  width: 100%;
  position: relative;
}
.login-content .loginLogo[data-v-97c454a2] {
    width: 280px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.login-content .login-center[data-v-97c454a2] {
    margin: 10px auto 0;
    text-align: center;
}
.login-content .login-footer[data-v-97c454a2] {
    width: 100%;
    height: 200px;
}
.login-content .login-footer-inner[data-v-97c454a2] {
    width: 800px;
    height: 140px;
    position: relative;
    margin: 14px auto 0;
    overflow: hidden;
}
.login-content .login-footer-inner2[data-v-97c454a2] {
    width: 1600px;
    height: 140px;
    position: absolute;
    left: 0;
    animation: slide-97c454a2 10s infinite linear;
}
.login-content .corCompanyTitle[data-v-97c454a2] {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 14px;
}
.login-content .corCompany[data-v-97c454a2] {
    display: block;
    float: left;
    width: 800px;
}
@keyframes slide-97c454a2 {
0% {
    left: 0;
}
50% {
    left: -400px;
}
100% {
    left: -800px;
}
}
.readyNumber[data-v-97c454a2] {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.readyNumberText[data-v-97c454a2] {
  color: #ffffff;
  font-size: 14px;
}
.police[data-v-97c454a2] {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

