
.el-button+.el-button[data-v-66db490a] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-66db490a] {
  width: 300px;
}


.el-button+.el-button[data-v-a7547118] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-a7547118] {
  width: 300px;
}


.el-button+.el-button[data-v-01099c54] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-01099c54] {
  width: 300px;
}


.el-button+.el-button[data-v-013acb12] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-013acb12] {
  width: 300px;
}


.el-button+.el-button[data-v-34a62be4] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-34a62be4] {
  width: 300px;
}


/* #tab-zeroth, #tab-first {
  color: red;
} */

