
.el-button+.el-button[data-v-03813068] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-03813068] {
  width: 300px;
}


.el-button+.el-button[data-v-bbeb5352] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-bbeb5352] {
  width: 300px;
}


.el-button+.el-button[data-v-4aba90c2] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-4aba90c2] {
  width: 300px;
}


.el-button+.el-button[data-v-0db79a44] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-0db79a44] {
  width: 300px;
}


.el-button+.el-button[data-v-2c1b7ef8] {
  margin-top: 5px;
  margin-left: 0;
}
.editForm .el-input[data-v-2c1b7ef8] {
  width: 300px;
}


#tab-first[data-v-6e3076b6] {
  color: red;
}

