.box[data-v-aa15f808] {
  padding-left: 6px;
  padding-right: 6px;
}
.box .blackTitle[data-v-aa15f808] {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.box .blackText[data-v-aa15f808] {
    font-size: 16px;
    margin-top: 30px;
}
.box .littleTitle[data-v-aa15f808] {
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box .blackLittleText[data-v-aa15f808] {
    font-size: 16px;
}
.box .returnBtn[data-v-aa15f808] {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

